@font-face { font-family: chessPiece; src: url('fonts/CASEFONT.TTF'); } 
.title {
  background: LightSkyBlue;
  grid-area: header;
  background-color: red;
}

.navbar {
  background: LightSalmon;
  grid-area: advert;
}

.chessboardContainer {
  grid-area: content;
  display: grid;
  grid-gap:10px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "board gamestats";
}
.squares{
  border: 1px solid slategrey;
}
.gameboard{
  min-width: 200px;
  min-height: 500px;
  background: linear-gradient(90deg, rgba(238,174,202,1) 29%, rgba(148,187,233,1) 100%);
  font-family: chessPiece;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  border-radius: 3%;
  overflow: hidden;
  grid-area: board;
  font-size:calc(40px + 2vw);  
}

.stats{
  background: yellow;
  grid-area: gamestats;
}

.footer {
  background: lightpink;
  grid-area: footer;
}

body{
    margin:0 0 0 0;
}
.container {
  min-height: 400px;
  min-width: 1000px;
  height: 100vh;
  grid-gap:10px;
  display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows:1fr 10fr 1fr;
    grid-template-areas:
    /* Only change code below this line */
      "header header"
      "advert content"
      "footer footer";
    /* Only change code above this line */
}

@media (max-width:700px){
  .container{
  min-height: 400px;
  min-width: 200px;
  grid-template-columns: 1fr;
  grid-template-rows: 0vh 10vh 80vh 0vh;
  grid-gap:0px;
  grid-template-areas:
    "header"
    "advert"
    "content"
    "footer";
  }
  .footer{
      display: none;
  }
  .header{
    display: none;
  }

  .chessboardContainer{
  grid-template-columns: 1fr;
  grid-template-areas: 
    "board";
  }

  .gameboard{
    border-radius: 0%;
  font-size:calc(40px + 1vw);  
  }
  .stats{
      display: none;
  }
}