@font-face { font-family: chessPiece; src: url('fonts/CASEFONT.TTF'); } 

#mainChessBoard
{
    width:57vw;
    height:80vh;
    display: inline-block;
    margin:5% 0 0 21.5vw;
    font-family: chessPiece;  
    font-size: 4vw;
    
}

.squares
{
 width:7vw;
 height:10vh;
 float:left;
 text-align: center;
}